[safe]
	directory = /home/orb/ORB_SLAM3
[user]
	email = vdyakonov86@yandex.ru
	name = Vadim Dyakonov
[credential]
	helper = "!f() { /root/.vscode-server/bin/ddc367ed5c8936efe395cffeec279b04ffd7db78/node /tmp/vscode-remote-containers-258eb080-4dd9-46f3-9bd6-fdaae6059af9.js git-credential-helper $*; }; f"
