[submodule "ORB_SLAM3"]
	path = ORB_SLAM3
	url = https://github.com/suchetanrs/ORB_SLAM3
[submodule "yolo-inference"]
	path = yolo-inference
	url = https://github.com/vdyakonov86/yolo-inference.git
[submodule "ultralytics"]
	path = ultralytics
	url = git@github.com:ultralytics/ultralytics.git
